<h1> Send Bulk Mail with PHP Mailer 2022 <h/1>
<ul>
    <li>You can send multiple mail </li>
    <li> You can also send form with email </li>
</ul>

<h2>Created by Sajid Ali</h2>
<h2> Created on 24/07/2022 </h2>